diffusers==0.25.1
transformers==4.30.2
xformers
imageio==2.33.1
decord==0.6.0
einops
omegaconf
safetensors
gradio
tqdm==4.66.1
soundfile==0.12.1
wandb
moviepy==1.0.3
kornia==0.7.1
h5py==3.7.0
pydantic==2.8.2
fastapi==0.112.0
starlette==0.37.2
gradio==4.43.0